PORT=3000
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
SOLANA_COMMITMENT=confirmed
USDC_MINT=EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
BACKEND_SECRET_KEY=
DEFAULT_DESTINATION_OWNER=
ENABLE_APPROVAL_LISTENER=true
ENABLE_AUTO_TRANSFER=true
ENABLE_MYSQL_PERSISTENCE=false
MYSQL_DSN=mysql://root:password@127.0.0.1:3306/solana_delegate_demo
MYSQL_CONNECTION_LIMIT=10
MYSQL_WAIT_FOR_CONNECTIONS=true
